+body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: 'Arial', sans-serif;
}
.wrapper h1 {
	color: #000000;
	background-color: #ffffff;
	padding: 6px;
}
.nav {
	background-color: #ffffff;
	color: #000000;
	list-style: none;
	text-align: right;
	padding: 5px;
}
.nav > li {
	display: inline-block;
	padding: 0 20px 0 20px;
	font-size: 12px;
}
.nav > li > a {
	text-decoration: none;
	color: #000000;
}
.nav > li > a:hover {
	color: #c1c1c1;
}
.logo {
	color: #000000;
	float: left;
	padding: 0 10px 0 20px;
	font-size: 16px
	font-weight: bold;
}
.logo > a {
	text-decoration: none;
	color: #000000;
}
.slider{
	overflow: hidden;
	height: 563px;
}

.slider figure div{
	width: 20%;
	float: left;
}

.slider figure img{
	width: 100%;
	height: 100%;
	float: left;
}

.slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 30s slidy infinite;
}

@keyframes slidy{
	0%{
		left: 0%
	}

	0%{
		left: 0%;
	}

	10%{
		left: -100%;
	}

	20%{
		left: -100%;
	}

	22%{
		left: -200%;
	}

	32%{
		left: -200%;
	}

	34%{
		left: -300%;
	}

	44%{
		left: -300%;
	}

	46%{
		left: -400%;
	}

	56%{
		left: -400%;
	}

	58%{
		left: -300%;
	}

	68%{
		left: -300%;
	}

	70%{
		left: -200%;
	}

	80%{
		left: -200%;
	}

	82%{
		left: -100%;
	}

	92%{
		left: -100%;
	}

	96%{
		left: 0%;
	}

	100%{
		left: 0%;
	}
}
P{ 
 padding: 10 15 545;
 font-size: 12px;
 color: #ffffff; 
}
footer {
	padding: 5px;
	background-color: #f2f2f2;
	text-align: center;	
}
P2{
font-size: 14px;
color: #000000; 
}

.container {
	max-width: 1250px;
	margin: 20px 10px 0 10px;
	background: #ffffff;
	overflow: auto;
}
.gallery {
	margin: 0px 25px;
	border: 0 solid #ffffff;
	float: left;
	width: 260px;
}
.gallery:hover {
    border: 0 solid #777;
}
.gallery img {
	width: 100%;
	height: 260;
}
.desc {
	padding: 5px;
	text-align: center;
}
.container3 {
	max-width: 1250px;
	margin: 0 0 80px 10px;
	background: #ffffff;
	overflow: auto;	
}
.photo {
	margin: 50px 30px 0 0;
	float: right;
	width: 40%;
	height: auto;
}
/* artist statement page*/
.artist {
	max-width: 1250px;
	margin: 0 0 20px 20px;
	background: #ffffff;
	overflow: auto;	
}
.statement {
	margin: 0px 10px 11;
	border: 1px solid #ffffff;
	float: center;
	width: 1200px;
	font-family: Arial, sans-serif;
	font-size: 15px;
}
.container5 {
	margin: 20px 400px 0;
	background: #ffffff;
	overflow: hidden;	
	float: center;
}

/*vimeo pages*/

.videos {
	max-width: 1250px;
	margin: 10px;
	background: #ffffff;
	overflow: hidden;
}
.image {
	margin: 0px 370px;
	width: 460px;
	height: 560px;
}

/* large display of photos pages*/
.small-box {
	margin: 10px 25px;
	border: 0 solid #ffffff;
	float: left;
	width: 260px;
}
.small-box img {
	width: 260px;
	height: 260px;
}
.large-box {
	margin: 20px 390px;
	border: 0 solid #ffffff;
	float: left;
	width: 460px;
}
.large-box img {
	width: 460px;
	height: 460px;
}
.desc1 {
	padding: 5px 155px;
	text-align: center;
}
/*Artist Statement image*/
.single-image {
	margin: 100px 455px;
	border: 0 solid #ffffff;
	float: left;
	width: 260px;
}
.single-image img {
	width: 260;
	height: 260px;
}
.single-image2 {
	margin: 50px 300px;
	border: 0 solid #ffffff;
	float: right;
	width: 160px;
}
.single-image2 img {
	width: 260px;
	height: 260px;